body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:101px;
  width:710px;
  height:815px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:815px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  word-wrap:break-word;
}
